---
import reactImageBG from "@assets/react-bg.png";
import awsImage from "@assets/stacks/aws.svg";
import dockerImage from "@assets/stacks/docker.svg";
import flutterImage from "@assets/stacks/flutter.svg";
import laravelImage from "@assets/stacks/laravel.svg";
import nodejsImage from "@assets/stacks/nodejs.svg";
import pythonImage from "@assets/stacks/python.svg";
import reactImage from "@assets/stacks/react.svg";
import vueImage from "@assets/stacks/vue.svg";
import nextImage from "@assets/stacks/next.svg";
import tailwindImage from "@assets/stacks/tailwind.svg";
import { Image } from "astro:assets";
---

<section
    class="px-5 lg:px-20 dark:z-10 py-10 bg-gray-50 text-gray-800 dark:text-gray-200 dark:bg-gray-900 relative z-0"
>
    <Image
        loading={`eager`}
        src={reactImageBG}
        width={reactImageBG.width - 200}
        height={reactImageBG.height - 200}
        format="avif"
        quality={20}
        alt={`bg react icon`}
        class={`absolute lg:right-52 top-0 opacity-10 animate-shakeY`}
    />
    <div class="grid lg:grid-cols-2 gap-5">
        <article class="flex flex-wrap order-last lg:order-first justify-center gap-3 items-center">
            <div class="font-roboto w-[calc(33%-0.75rem)] md:w-[calc(25%-0.75rem)] text-sm lg:text-lg text-center flex flex-col items-center justify-center gap-2 font-bold uppercase">
                <Image
                    loading={`lazy`}
                    src={awsImage}
                    width={100}
                    height={100}
                    format="webp"
                    quality={20}
                    class={`h-20`}
                    alt={`aws icon`}
                />
                <p>AWS</p>
            </div>
            <div class="font-roboto w-[calc(33%-0.75rem)] md:w-[calc(25%-0.75rem)] text-sm lg:text-lg text-center flex flex-col items-center justify-center gap-2 font-bold uppercase">
                <Image
                    loading={`lazy`}
                    src={dockerImage}
                    width={100}
                    height={100}
                    format="webp"
                    quality={20}
                    class={`h-20`}
                    alt={`docker icon`}
                />
                <p>Docker</p>
            </div>
            <div class="font-roboto w-[calc(33%-0.75rem)] md:w-[calc(25%-0.75rem)] text-sm lg:text-lg text-center flex flex-col items-center justify-center gap-2 font-bold uppercase">
                <Image
                    loading={`lazy`}
                    src={laravelImage}
                    width={100}
                    height={100}
                    format="webp"
                    class={`h-20`}
                    quality={20}
                    alt={`laravel icon`}
                />
                <p>laravel</p>
            </div>
            <div class="font-roboto w-[calc(33%-0.75rem)] md:w-[calc(25%-0.75rem)] text-sm lg:text-lg text-center flex flex-col items-center justify-center gap-2 font-bold uppercase">
                <Image
                    loading={`lazy`}
                    src={flutterImage}
                    width={100}
                    height={100}
                    format="webp"
                    class={`h-20`}
                    quality={20}
                    alt={`flutter icon`}
                />
                <p>flutter</p>
            </div>
            <div class="font-roboto w-[calc(33%-0.75rem)] md:w-[calc(25%-0.75rem)] text-sm lg:text-lg text-center flex flex-col items-center justify-center gap-2 font-bold uppercase">
                <Image
                    loading={`lazy`}
                    src={nodejsImage}
                    width={100}
                    height={100}
                    format="webp"
                    class={`h-20`}
                    quality={20}
                    alt={`nodejs icon`}
                />
                <p>nodejs</p>
            </div>
            <div class="font-roboto w-[calc(33%-0.75rem)] md:w-[calc(25%-0.75rem)] text-sm lg:text-lg text-center flex flex-col items-center justify-center gap-2 font-bold uppercase">
                <Image
                    loading={`lazy`}
                    src={tailwindImage}
                    width={100}
                    height={100}
                    format="webp"
                    class={`h-20`}
                    quality={20}
                    alt={`tailwind icon`}
                />
                <p>tailwind</p>
            </div>
            <div class="font-roboto w-[calc(33%-0.75rem)] md:w-[calc(25%-0.75rem)] text-sm lg:text-lg text-center flex flex-col items-center justify-center gap-2 font-bold uppercase">
                <Image
                    loading={`lazy`}
                    src={nextImage}
                    width={100}
                    height={100}
                    format="webp"
                    class={`h-20`}
                    quality={20}
                    alt={`next icon`}
                />
                <p>next</p>
            </div>
            <div class="font-roboto w-[calc(33%-0.75rem)] md:w-[calc(25%-0.75rem)] text-sm lg:text-lg text-center flex flex-col items-center justify-center gap-2 font-bold uppercase">
                <Image
                    loading={`lazy`}
                    src={reactImage}
                    width={100}
                    height={100}
                    format="webp"
                    class={`h-20`}
                    quality={20}
                    alt={`react icon`}
                />
                <p>react</p>
            </div>
            <div class="font-roboto w-[calc(33%-0.75rem)] md:w-[calc(25%-0.75rem)] text-sm lg:text-lg text-center flex flex-col items-center justify-center gap-2 font-bold uppercase">
                <Image
                    loading={`lazy`}
                    src={pythonImage}
                    width={100}
                    height={100}
                    format="webp"
                    class={`h-20`}
                    quality={20}
                    alt={`python icon`}
                />
                <p>python</p>
            </div>
            <div class="font-roboto w-[calc(33%-0.75rem)] md:w-[calc(25%-0.75rem)] text-sm lg:text-lg text-center flex flex-col items-center justify-center gap-2 font-bold uppercase">
                <Image
                    loading={`lazy`}
                    src={vueImage}
                    width={100}
                    height={100}
                    format="webp"
                    class={`h-20`}
                    quality={20}
                    alt={`vue icon`}
                />
                <p>vue</p>
            </div>
        </article>
        <article class="relative">
            <p
                class="text-xs lg:text-base dark:text-white dark:border-gray-200 text-blue-800 font-medium font-roboto border-b-2 border-blue-800 inline pb-2"
            >
                Teknologi
            </p>
            <h2
                class="lg:text-4xl text-2xl font-bold font-roboto mt-5 dark:text-white"
            >
                Teknologi yang Kami Gunakan
            </h2>
            <p class="lg:text-lg text-sm dark:text-gray-500">
                Kami menggunakan teknologi terbaru dan terbaik untuk memastikan
                setiap proyek yang kami kerjakan mencapai standar kualitas
                tertinggi. Dari pengembangan web hingga aplikasi seluler, kami
                selalu mengutamakan penggunaan teknologi yang inovatif dan
                efisien.
            </p>
        </article>
    </div>
</section>
